// Variables
$darkGreen: #013220;
$forestGreen: #3a5a40;
$simpleGray: #edf2f7;
$hoverGray: #e6e9ed;

// General
* {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: $simpleGray;
}

::-webkit-scrollbar-thumb {
  background-color: $forestGreen;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

// Button
// *********************************
button {
  padding: 12px 20px;
  color: black;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  font-weight: 500;
}
button:hover {
  cursor: pointer;
  background-color: $hoverGray;
}
.subtle {
  background-color: $simpleGray;
}
.ghost {
  background-color: transparent;
}

// Navbar
// *********************************
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    height: 4em;
  }
}
.navbar__left {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 1em;
  line-height: 10px;
  align-items: center;
}
.navbar__right {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

// App
// *********************************
.appContainer {
  display: flex;
  flex-direction: row;

  .mainContent {
    width: 80%;
    padding: 1em;
  }
  .footerContent {
    width: 20%;
    background-color: $darkGreen;
    color: white;
    padding: 1em;
  }
}

//Footer
// *********************************
.specialText {
  font-weight: bold;
  color: rgba($color: #ffffff, $alpha: 0.5);
}
.about,
.skills,
.contact {
  padding: 1em;
  p,
  li {
    line-height: 24px;
  }
  .specialText {
    margin-bottom: 10px;
  }
}
.contact {
  li {
    list-style: none;
  }
}
.textLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    padding: 0;
    margin: 0;
  }
}
.textLink:hover {
  color: rgba($color: #ffffff, $alpha: 0.5);
  cursor: pointer;
  .textLinkArrow {
    transform: translateX(10px);
  }
}
.textLinkArrow {
  transition: 0.3s;
}

// PageInfoSection
// *********************************
.pageDescription {
  padding: 1rem 0;
}
.pageInfoTitle {
  font-weight: bold;
  line-height: 2px;
}
