// Variables
$darkGreen: #013220;
$forestGreen: #3a5a40;

$badgeGreenText: #22543d;
$badgeGreenBackground: #c6f6d5;
$badgeBlueText: #2a4365;
$badgeBlueBackground: #bee3f8;
$badgeRedText: #822727;
$badgeRedBackground: #fed7d7;
$badgePurpleText: #44337a;
$badgePurpleBackground: #e9d8fd;

$simpleGray: #edf2f7;
$hoverGray: #e6e9ed;

// General
* {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: $simpleGray;
}

::-webkit-scrollbar-thumb {
  background-color: $forestGreen;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgba($color: #ffffff, $alpha: 0.5);
}

h3 {
  color: rgba($color: #000000, $alpha: 0.4);
  font-weight: normal;
  line-height: 0px;
}

hr {
  height: 1px;
  width: 100%;
  background: black;
  opacity: 0.2;
}

// Button
// *********************************
button {
  padding: 12px 20px;
  color: black;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  font-weight: 500;
  display: flex;
  text-decoration: none;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 3px;
}
button:hover {
  cursor: pointer;
  background-color: $hoverGray;
}
.subtle {
  background-color: $simpleGray;
}
.ghost {
  background-color: transparent;
}

// Navbar
// *********************************
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    height: 4em;
  }
}

.navbar__left {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 1em;
  line-height: 10px;
  align-items: center;
}
.navbar__right {
  display: flex;
  flex-direction: row;
  .buttonList {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  .hamburgerList {
  }
}

// App
// *********************************
.appContainer {
  display: flex;
  flex-direction: row;

  .mainContent {
    display: flex;
    flex-direction: column;
    width: 75vw;
    padding: 1em;
    overflow-x: hidden;
  }
  .footerContent {
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-color: $darkGreen;
    color: white;
    padding: 1em;
    overflow-x: hidden;
  }
}
.topicSeparation {
  padding-top: 1rem;
}

//Footer
// *********************************
.specialText {
  font-weight: bold;
  color: rgba($color: #ffffff, $alpha: 0.5);
}
.about,
.skills,
.contact {
  padding: 1em;
  p,
  li {
    line-height: 24px;
  }
  .specialText {
    margin-bottom: 10px;
  }
}
.contact {
  li {
    list-style: none;
  }
}
.textLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba($color: #ffffff, $alpha: 1);
  p {
    padding: 0;
    margin: 0;
  }
}
.textLink:hover {
  color: rgba($color: #ffffff, $alpha: 0.5);
  cursor: pointer;
  .textLinkArrow {
    transform: translateX(10px);
  }
}
.textLinkArrow {
  transition: 0.3s;
}

// PageInfoSection
// *********************************
.pageDescription {
  padding-top: 1rem;
}
.pageInfoTitle {
  font-weight: bold;
  line-height: 2px;
}

//Home
// *********************************
.badgeRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.6rem;
  .badge {
    line-height: 0px;
    padding: 0px 8px;
    border-radius: 2px;
    font-size: 10pt;
  }
  .green {
    background-color: $badgeGreenBackground;
    color: $badgeGreenText;
  }
  .blue {
    background-color: $badgeBlueBackground;
    color: $badgeBlueText;
  }
  .red {
    background-color: $badgeRedBackground;
    color: $badgeRedText;
  }
  .purple {
    background-color: $badgePurpleBackground;
    color: $badgePurpleText;
  }
}
.workDate {
  line-height: 0px;
  color: rgba($color: #000000, $alpha: 0.5);
  font-weight: bold;
  font-size: 10pt;
}

//FeaturedRow
// *********************************
.featuredRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.featuredRowImages {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    flex: 1 1 auto;
    border-radius: 2px;
  }
}

// Websites
// *********************************
.websiteList {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: left;
}
.websiteSingleItem {
  width: 30vw;
  .websiteSingleItem__top {
    max-width: fit-content;
    img {
      width: 100%;
      border-radius: 5px;

      .musicItemImage {
      }
    }
  }
}

// Photography
// ******************************

.albumList {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .albumShowcaseItem {
    display: flex;
    flex-direction: column;
    width: 100%;

    .albumShowcaseTop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .albumImagesTopRow {
      display: flex;
      gap: 1rem;
      justify-content: space-between; /* optional: space between images */
      width: 100%;
      overflow: hidden;
      margin: 1rem 0;
      border-radius: 5px;
      img {
        width: 100%;
        height: auto;
        max-width: calc(100% / 3); /* ensures 3 images fit exactly */
        object-fit: contain;
        border-radius: 5px;
      }
    }
    .albumImagesBottomRow {
      display: flex;
      gap: 1rem;
      justify-content: space-between; /* optional: space between images */
      width: 100%;
      overflow: hidden;
      border-radius: 5px;
      img {
        width: 100%;
        height: auto;
        max-width: calc(100% / 3); /* ensures 3 images fit exactly */
        object-fit: contain;
        border-radius: 5px;
      }
    }
  }
}

@media (min-width: 600px) {
  .featuredRowImages img {
    width: 10px;
  }
}
@media (max-width: 599px) {
  .featuredRowImages {
    flex-direction: column;
  }
}
@media screen and (max-width: 1130px) {
  .navbar {
    flex-direction: column;
  }
  .appContainer {
    flex-direction: column;
    width: 100%;

    .mainContent {
      width: fit-content;
    }
    .footerContent {
      width: fit-content;
    }
  }
}
@media screen and (min-width: 700px) and (max-width: 1130px) {
  .appContainer {
    .footerContent {
      flex-direction: row;
      justify-content: space-between;

      .about {
        width: 33%;
      }
      .skills {
        width: 33%;
      }
      .contact {
        width: 33%;
      }
    }
  }
}
